@import url('https://fonts.googleapis.com/css?family=Karla|Josefin+Sans');

@font-face {
	font-family: 'Karla', sans-serif;
	font-family: 'Shadows Into Light', cursive;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Josefin Sans', sans-serif;
}

body {
	overflow-x: hidden;
	background-color: black;
}



.imgTitle {
	height: 100%;
	width: auto;
	margin-bottom: 1%;
	margin-top: 1%;
	border-radius: 25%;
	opacity: 0.7;
	filter: blur(2px);
	-webkit-filter: blur(2px);
	filter: alpha(opacity=70);
}

/* MAke this on JS

 -webkit-transition: content 0.3s linear;
-moz-transition: content 0.3s linear;

.imgTitle:hover {
height: 50%;
width: auto;
margin-bottom: 4%;
border-radius: 25%;
opacity: 0.5;
filter: alpha(opacity=50);
filter: blur(2px);
-webkit-filter: blur(2px);
content: url("../img/magicabstract2.jpg");
} */

header h1 {
	font-size: 500%;
	color:white;
	text-shadow: 2px 2px 3px #548ddd;
}

header h2{
	text-align: center;
	font-size: 1.4em;
	color:white;
	font-family: 'Josefin Sans', sans-serif;
	text-shadow: 1px 1px 5px black;
	letter-spacing: 4px;
	line-height: 150%;
}

.btn-primary {
	background-color: rgba(255,0,255,0.5);
	padding: 1% 1%;
}

#divHomeLogo{
	position: absolute;
	z-index: 3000;
	text-align: center;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
}

#btnLoadGame{
	margin-top: 5%;
}

#divHomeImg {
	height: 100%;
	margin: 0 auto; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	z-index: 2000;
}

#btnNewGame{
	margin-top: 3%;
}

#divHomeLogo1 {  
	height: 100%;  
	margin: 0 auto; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	z-index: 2000;
}
#divHomeLogo2 { 
	height: 100%;
	margin: 0 auto; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	z-index: 2000;
}

#divHomeLogo1 article {height: 50%; position: absolute; top: 25%; width: 100%;color:white; }

#divHomeImg article {height: 50%; position: absolute; top: 25%; width: 100%; }

#divHomeLogo2 article {height: 50%; position: absolute; top: 50%; width: 100%; }

/*New Game*/

#divNewGame {
	display:none;
	color:white;
	text-align: center;
	font-size: 115%;
	max-width: 75%;
}

.cursorPointer {
	cursor: pointer;
}

#divNewGameStatsInfo, #divNewGameGodInfo {
	color: red;
}

.btnGodSelected {
	text-shadow: 2px 2px 3px #548ddd;
	cursor: pointer;
}

.btnGodNotSelected {
	color:white;
	text-shadow: none;
	cursor: pointer;

}

#btnNewGameLife, #btnNewGameDeath{
	cursor: pointer;
}

.divNewGameDescParent {
	text-align: center;
	max-width: 50%;
}

.divNewGameDesc{
	background-color: rgba(255,255,255,0.08);
	min-width: 20%;
	min-height: 25%;
	text-align: center;
	padding: 1% 1% 1% 1%;
}

#divNewGameGod , #divNewGameStats {
	display: none;
}

.newGameTab{
	min-width: 50%;
	background-color: rgba(255,255,255,0.08);
	padding: 1% 1% 1% 1%;
}

/* dropdown */
.dropdown-toggle {
    background-color: white;
    color: black;
    padding: 10%;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu a {
	align-self: left;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .dropdown-toggle {
    background-color: rgba(255,255,255,0.08);
}

/*Imported*/
.fullScreenBg{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: 1000;
}

.fullscreenBgVideo {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
	.fullScreenBg {
		background-image: url("../img/videoimg.jpg");
		background-repeat: no-repeat;
		background-color: black;
		background-position: top;
	}

	.fullscreenBgVideo{
		display: none;
	}
}

.social li a:hover {
	opacity: 0.5;
}

footer {
	z-index: 3000;
	position: relative;
	background: #ffffff;
	padding: 40px 0px;

}

.btnHomePrimary {
	background-color: rgba(255,255,255,0.08);
	color: #ffffff;
}

.btnHomePrimary:hover, .btnHomePrimary:focus, .btnHomePrimary:active {
	background-color: rgba(150,150,150,0.5);
	transition: all 0.35s ease-in-out;
	color: #333;
}
.btn-primary:hover {
	background-color: #910a1a;
	color: #ffffff;
	transition: all 0.35s ease-in-out;
}

.btn-primary.active:hover {
	background-color: #910a1a;
	color: #ffffff;
	transition: all 0.35s ease-in-out;
}

.btn-primary.active {
	background-color: #910a1a;
	color: #ffffff;
	transition: all 0.35s ease-in-out;
}

.btn-primary.focus {
	background-color: #910a1a;
	color: #ffffff;
	transition: all 0.35s ease-in-out;
}

.fa-envelope-o {
	color: #4ec3cd;
	font-size: 22px;
	display: block;
	padding-top: 15px;
	width: 60px;
	height: 60px;
	border: 2px solid #4ec3cd;
	border-radius: 30px;
	margin: auto;
}

.fa-lg {
	font-size: 1.33333em;
	line-height: 0.75em;
	vertical-align: -10%;
}

